# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
.settings/
.classpath
.project

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Python
.venv/
__pycache__/

# Build output
dist/
target/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

.hldk/

/error-quarkus/bin/
